<div class="container">
    <div class="row">
        <h1 class="titulo">Hard & Soft Skills:</h1>
    </div>
    <div class="row estudios">

        <div class="row contenedor-hard">
            <h2 style="text-decoration: underline;">Hard Skills</h2>
            <div class="col text-center">
                <circle-progress [percent]="80" [radius]="50" [imageSrc]="'../assets/html-5.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#F16529'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>

            <div class="col text-center">
                <circle-progress [percent]="75" [radius]="50" [imageSrc]="'../assets/css-3.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#264de4'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>

            <div class="col text-center">
                <circle-progress [percent]="70" [radius]="50" [imageSrc]="'../assets/bootstrap.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#563d7c'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>

            <div class="col text-center">
                <circle-progress [percent]="50" [radius]="50" [imageSrc]="'../assets/js.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#F0DB4F'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>

            <div class="col text-center">
                <circle-progress [percent]="60" [radius]="50" [imageSrc]="'../assets/github.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#fafafa'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>

            <div class="col text-center">
                <circle-progress [percent]="50" [radius]="50" [imageSrc]="'../assets/mysql.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#00758F'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>

            <div class="col text-center">
                <circle-progress [percent]="40" [radius]="50" [imageSrc]="'../assets/typescript.png'" [showImage]="true"
                    [imageHeight]="40" [imageWidth]="40" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#3178c6'" [innerStrokeColor]="'aliceblue'" [animation]="true"
                    [animationDuration]="1000"></circle-progress>
            </div>
        </div>

        <div class="row contenedor-soft">
            <h2 style="text-decoration: underline;">Soft Skills</h2>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Responsabilidad - 100%</div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Trabajo en equipo - 80%</div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Disponibilidad horaria - 60%</div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Resiliencia 90%</div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Compromiso 90%</div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">Habilidades digitales - 95%</div>
            </div>
        </div>
    </div>
</div>